@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #0c0c0c;
    --primary: #FF3951;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  container: var(--primary);
  /* background-color: var(--primary); */
  font-family: Proxima-Nova;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Pink scrollbar for WebKit (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ff3951;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff6b81;
  }

  /* Firefox scrollbar */
  body {
    scrollbar-width: thin;
    scrollbar-color: #ff3951 #f0f0f0;
  }

  /* Apply scrollbar styles to the sidebar */
  aside {
    scrollbar-width: thin;
    scrollbar-color: #ff3951 #f0f0f0;
  }
}
